<p>{{title}}</p>
<input type="text" name="username" placeholder="账号" id="username">
<input type="password" name="password" placeholder="密码" id="password">
<button type="button" id="registerBtn">注册</button>